<p style="margin-bottom: 0" id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1>Airport Information from <a href="http://OurAirports.com/data">OurAirports.com</a></h1>
  <br />

<table class="table table-bordered">
  <thead align="center">
    <tr>
      <th style="width:8em;"><%= sort_link "iata_code" %></th>
      <th style="width:22em;"><%= sort_link "name" %></th>
      <th style="width:10em;"><%= sort_link 'lat', 'Latitude' %></th>
      <th style="width:10em;"><%= sort_link 'long', 'Longitude' %></th>
      <th><%= sort_link 'elevation_ft', 'Elev. (ft)' %></th>
      <th><%= sort_link 'iso_country', 'Country' %></th>
      <th>Map</th>
      <th><%= sort_link 'home_link', 'Home Page' %></th>
      <th><%= sort_link 'wikipedia_link', 'Wikipedia' %></th>
      <th><%= sort_link 'flight_radar_24_link', 'FR 24' %></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <% if airport.iata_code %>
          <td align="center"><%= link_to airport.iata_code, airport %></td>
        <% else %>
          <td />
        <% end %>

        <td><%= link_to airport.name, airport %></td>

        <td align="right"><%= airport.lat&.round(6) %></td>
        <td align="right"><%= airport.long&.round(6) %></td>
        <td align="right"><%= airport.elevation_ft %></td>
        <td align="center" title="<%= airport.country_name %>"><%= airport.iso_country %></td>

        <% if airport.lat_long_valid? %>
          <td align="center"><%= link_to 'Map', airport.map_link, target: '_blank' %></td>
        <% else %>
          <td />
        <% end %>

        <% if airport.has_home_link? %>
          <td align="center"><%= link_to 'Home', airport.home_link, target: '_blank' %></td>
        <% else %>
          <td />
        <% end %>

        <% if airport.wikipedia_link %>
          <td align="center"><%= link_to 'Wikipedia', airport.wikipedia_link, target: '_blank' %></td>
        <% else %>
          <td />
        <% end %>

        <% if airport.flight_radar_24_link %>
          <td align="center"><%= link_to 'FR', airport.flight_radar_24_link, target: '_blank' %></td>
        <% else %>
          <td />
        <% end %>

        <!--        <td><%#= link_to 'Edit', edit_airport_path(airport) %></td>-->
        <!--        <td><%#= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @airports, theme: 'twitter-bootstrap-4' %>

<%#= link_to 'New Airport', new_airport_path %>
</div>
