<p id="notice"><%= notice %></p>

<div class="container">
<h1>Airports</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
<!--      <th>Oa</th>-->
<!--      <th>Ident</th>-->
<!--      <th>Type</th>-->
      <th>Name</th>
      <th>Map</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation (ft)</th>
<!--      <th>Continent</th>-->
      <th>Country</th>
      <th>Wikipedia</th>
      <th>Details</th>
<!--      <th>Iso region</th>-->
<!--      <th>Municipality</th>-->
<!--      <th>Scheduled service</th>-->
<!--      <th>Gps code</th>-->
<!--      <th>Iata code</th>-->
<!--      <th>Home link</th>-->
<!--      <th>Wikipedia link</th>-->
<!--      <th>Keywords</th>-->
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>

        <% if airport.has_home_link? %>
          <td><a href="<%= airport.home_link %>"><%= airport.name %></a></td>
        <% else %>
          <td><%= airport.name %></td>
        <% end %>

        <% if airport.lat_long_valid? %>
          <td><a href="<%= airport.map_url %>">Map</a></td>
        <% else %>
          <td />
        <% end %>

        <td><%= airport.lat.round(6) %></td>
        <td><%= airport.long.round(6) %></td>
        <td><%= airport.elevation_ft %></td>
        <td><%= airport.iso_country %></td>

        <% if airport.wikipedia_link %>
          <td><a href="<%= airport.wikipedia_link %>">Wikipedia</a></td>
        <% else %>
          <td></td>
        <% end %>

        <td><%= link_to 'Details', airport %></td>

        <!--        <td><%#= airport.oa_id %></td>-->
        <!--        <td><%#= airport.ident %></td>-->
        <!--        <td><%#= airport.airport_type %></td>-->
        <!--        <td><%#= airport.continent %></td>-->
        <!--        <td><%#= airport.iso_region %></td>-->
        <!--        <td><%#= airport.municipality %></td>-->
        <!--        <td><%#= airport.scheduled_service %></td>-->
        <!--        <td><%#= airport.gps_code %></td>-->
        <!--        <td><%#= airport.iata_code %></td>-->
        <!--        <td><%#= airport.home_link %></td>-->
        <!--        <td><%#= airport.wikipedia_link %></td>-->
        <!--        <td><%#= airport.keywords %></td>-->
        <!--        <td><%#= link_to 'Edit', edit_airport_path(airport) %></td>-->
        <!--        <td><%#= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @airports %>

<%#= link_to 'New Airport', new_airport_path %>
</div>
