<div class="container">

  <% country = NormalizeCountry.convert(@airport.iso_country) %>

  <h1><%= @airport.name %> <small class="text-muted"><%= "  (#{country})" %></small></h1>

  <%
    def form_element(id, label_text, current_content, input_type = 'text_field')
    %Q{
    <form>
    <div class="form-group">
      <label for="#{id}">#{label_text}</label>
      <input type="#{input_type}" class="form-control" id="#{id}" placeholder="#{current_content}">
    </div>
    </form>
    }.html_safe
    end
  %>

    <%= form_element('ident',              'Identification',     @airport.ident) %>
    <%= form_element('type',               'Airport Type',       @airport.airport_type) %>
    <%= form_element('name',               'Name',               @airport.name) %>
    <%= form_element('lat',                'Latitude',           @airport.lat) %>
    <%= form_element('long',               'Longitude',          @airport.long) %>
    <%= form_element('elevation_ft',       'Elevation (ft)',     @airport.elevation_ft) %>
    <%= form_element('continent',          'Continent',          @airport.continent) %>
    <%= form_element('iso_country',        'ISO Country Code',   @airport.iso_country) %>
    <%= form_element('iso_region',         'ISO Region Code',    @airport.iso_region) %>
    <%= form_element('municipality',       'Municipality',       @airport.municipality) %>
    <%= form_element('scheduled_service',  'Scheduled Service?', @airport.scheduled_service) %>
    <%= form_element('gps_code',           'GPS Code',           @airport.gps_code) %>
    <%= form_element('iata_code',          'IATA Code',          @airport.iata_code) %>
    <%= form_element('home_link',          'Home Link',          @airport.home_link) %>
    <%= form_element('wikipedia_link',     'Wikipedia Link',     @airport.wikipedia_link) %>
    <%= form_element('keywords',           'Keywords',           @airport.keywords) %>


<%= link_to 'Back', airports_path %>
</div>
</div>