<p id="notice"><%= notice %></p>

<p>
  <strong>Oa:</strong>
  <%= @airport.oa_id %>
</p>

<p>
  <strong>Ident:</strong>
  <%= @airport.ident %>
</p>

<p>
  <strong>Type:</strong>
  <%= @airport.airport_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @airport.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @airport.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @airport.long %>
</p>

<p>
  <strong>Elevation ft:</strong>
  <%= @airport.elevation_ft %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @airport.continent %>
</p>

<p>
  <strong>Iso country:</strong>
  <%= @airport.iso_country %>
</p>

<p>
  <strong>Iso region:</strong>
  <%= @airport.iso_region %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @airport.municipality %>
</p>

<p>
  <strong>Scheduled service:</strong>
  <%= @airport.scheduled_service %>
</p>

<p>
  <strong>Gps code:</strong>
  <%= @airport.gps_code %>
</p>

<p>
  <strong>Iata code:</strong>
  <%= @airport.iata_code %>
</p>

<p>
  <strong>Home link:</strong>
  <%= @airport.home_link %>
</p>

<p>
  <strong>Wikipedia link:</strong>
  <%= @airport.wikipedia_link %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @airport.keywords %>
</p>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
