<%
  def link_text(url)
    if url && url.length > 0
      link_to url, url, target: '_blank'
    else
      nil
    end
  end


  def form_element(_id, label_text, current_content, is_link = false)
    %Q{
    <dt class="col-sm-3">#{label_text}</dt>
    <dd class="col-sm-9">#{current_content || '[None]'}</dd>
    }.html_safe
  end


  def country_string
    em_dash = "\u2014"
    "#{@airport.iso_country} #{em_dash} #{@airport.country_name}" # \u2014 = em dash
  end

  def title_text
    "#{@airport.iata_code}: #{@airport.name}"
  end
%>


<div class="container">

  <br />
  <br />
  <h1><%= title_text %> <small class="text-muted"><%= "  (#{@airport.country_name})" %></small></h1>
  <br />
  <br />

  <dl class="row">
    <%= form_element('ident',              'Identification',     @airport.ident) %>
    <%= form_element('type',               'Airport Type',       @airport.airport_type) %>
    <%= form_element('name',               'Name',               @airport.name) %>
    <%= form_element('lat',                'Latitude',           @airport.lat) %>
    <%= form_element('long',               'Longitude',          @airport.long) %>
    <%= form_element('elevation_ft',       'Elevation (ft)',     @airport.elevation_ft) %>
    <%= form_element('continent',          'Continent',          @airport.continent) %>
    <%= form_element('iso_country',        'Country',            country_string) %>
    <%= form_element('iso_region',         'ISO Region Code',    @airport.iso_region) %>
    <%= form_element('municipality',       'Municipality',       @airport.municipality) %>
    <%= form_element('scheduled_service',  'Scheduled Service?', @airport.scheduled_service) %>
    <%= form_element('gps_code',           'GPS Code',           @airport.gps_code) %>
    <%= form_element('iata_code',          'IATA Code',          @airport.iata_code) %>
    <%= form_element('map_link',           'Map Link',           link_text(@airport.map_link)) %>
    <%= form_element('home_link',          'Home Link',          link_text(@airport.home_link)) %>
    <%= form_element('wikipedia_link',     'Wikipedia Link',     link_text(@airport.wikipedia_link)) %>
    <%= form_element('keywords',           'Keywords',           @airport.keywords) %>
  </dl>

    <%= link_to 'Back', :back, class: 'btn  btn-primary' %>
</div>
</div>