<!DOCTYPE html>
<html>
  <head>
    <title>OurAirports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!--    This is here to fix the problem where the Flight Radar 24 link is clicked-->
<!--    when the server is localhost, and an HTTP 421 ("Teapot") code is returned.-->
    <% if Rails.env.development? %>
      <meta name="referrer" content="no-referrer" />
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--    For Bootstrap:-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
