<!DOCTYPE html>
<html>
  <head>
    <title>OurAirports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--    For Bootstrap:-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
  <div class="background-image">
    <div class="partially-opaque-layer">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
